footer
	.container
		.row
			.col-lg-2
				.logo
				img.svg(src="./assets/logo-white.svg", alt="")
			.col-lg-7.list-link-footer
				.block-link
					ul.list-item
						li.item
							a(href="#") GIỚI THIỆU
						li.item
							a(href="#") CHƯƠNG TRÌNH HỌC
						li.item
							a(href="#") GÓC HỌC VIÊN
				.block-link
					ul.list-item
						li.item
							a(href="#") TIN TỨC - SỰ KIỆN
						li.item
							a(href="#") LIÊN HỆ
						li.item
							a(href="#") ƯU ĐÃI
				.block-link
					ul.list-item
						li.item
							a(href="#") THƯ VIỆN
						li.item
							a(href="#") Q&A
				.block-link
					ul.list-item
						li.item
							a(href="#") CHÍNH SÁCH QUY ĐỊNH
						li.item
							a(href="#") HỘ TRỢ HOTLINE
			.col-lg-3.form-email
				.title-footer Hãy gửi email đến chúng tôi để nhận những thông báo mới nhất và những chương trình hấp dẫn nhất  dành cho bạn.
				form(action="#" method="method")
					.form-group
						input(type="text" placeholder="Email")
						button GỬI
				ul.list-social-media
					il.item
						a(href="#") + facebook
					li.item
						a(href="#") + instagram
					li.item
						a(href="#") + google
.copy-right
	p © 2019 Copyright by Web4G Solutions. All rights reserved.