header
	.desktop.top-header
		.container
			.row.no-gutters
				nav.header-social
					a(href="#") + facebook
					a(href="#") + instagram
				.header-hotline
					a(href="tel:0123456789") + 0123 456 789
				.header-language
					select
						option(value="vn") VN
						option(value="en") EN
	.bottom-header
		.mobile.header-toggle.toggle-off
			.hamburger
				span
				span
		.container
			.row.no-gutters
				.header-logo
					a(href="http://web1.web4gsolutions.com/SAIGONusa/").logo-1.desktop
						img.lazyload(data-src='./asset/image/logo.png', alt='')
					a(href="http://web1.web4gsolutions.com/SAIGONusa/").logo-2
						img.lazyload(data-src='./asset/image/logo.png', alt='')
				nav.header-navigation
					.nav-item
						a(href="http://web1.web4gsolutions.com/SAIGONusa/") Trang chủ
					.nav-item
						a(href="#") Giới thiệu
						.mobile.nav-sub-toggle
						.nav-sub
							.item-sub
								a(href="differences.html") Sự khác biệt
							.item-sub
								a(href="certificates.html") Chứng nhận
							.item-sub
								a(href="aboutus.html") Giới thiệu chung
							.item-sub
								a(href="vision.html") Tầm nhìn - Sứ mệnh
					.nav-item
						a(href="courses.html") CHƯƠNG TRÌNH HỌC
						.mobile.nav-sub-toggle
						.nav-sub
							.item-sub
								a(href="course-1.html") KINDY PROGRAM
							.item-sub
								a(href="course-2.html") PRIMARY PROGRAM
							.item-sub
								a(href="course-3.html") SECONDARY PROGRAM
							.item-sub
								a(href="course-4.html") HIGHER SECONDARY
					.nav-item
						a(href="student.html") GÓC HỌC VIÊN
					.nav-item
						a(href="news.html") TIN TỨC – SỰ KIỆN
					.nav-item
						a(href="#") LIÊN HỆ
						.mobile.nav-sub-toggle
						.nav-sub
							.item-sub
								a(href="contact-1.html") Tư vấn
							.item-sub
								a(href="contact-2.html") Đặt lịch
				.header-search
					.icon.desktop
						<svg xmlns="http://www.w3.org/2000/svg" width="26.603" height="26.606" viewBox="0 0 26.603 26.606"><g transform="translate(-1701.706 -78.89)"><path d="M21.338,2.58A8.661,8.661,0,0,1,9.54,15.247L8.508,16.279,9.56,17.33a.614.614,0,0,1,0,.869L4.635,23.123A2.715,2.715,0,1,1,.8,19.284L5.72,14.359a.614.614,0,0,1,.869,0L7.64,15.41l1.031-1.032A8.661,8.661,0,0,1,21.338,2.58ZM22.647,8.7a7.432,7.432,0,1,0-2.177,5.255A7.385,7.385,0,0,0,22.647,8.7ZM7.383,18.638l.873-.874-2.1-2.1-.874.873ZM3.766,22.255l2.748-2.748-2.1-2.1L1.664,20.152a1.487,1.487,0,1,0,2.1,2.1Z" transform="translate(1701.658 102.581) rotate(-83)" fill="#fff"/><path d="M207.925,58.86a6,6,0,1,1-8.483,0A5.979,5.979,0,0,1,207.925,58.86Zm-.869,7.615a4.77,4.77,0,1,0-6.746,0A4.776,4.776,0,0,0,207.057,66.475Z" transform="translate(1624.697 283.017) rotate(-83)" fill="#fff"/></g></svg>
					form.header-search-form
						input.form-control(type='text' placeholder='Tìm kiếm...')
						button.btn
							<svg xmlns="http://www.w3.org/2000/svg" width="26.603" height="26.606" viewBox="0 0 26.603 26.606"><g transform="translate(-1701.706 -78.89)"><path d="M21.338,2.58A8.661,8.661,0,0,1,9.54,15.247L8.508,16.279,9.56,17.33a.614.614,0,0,1,0,.869L4.635,23.123A2.715,2.715,0,1,1,.8,19.284L5.72,14.359a.614.614,0,0,1,.869,0L7.64,15.41l1.031-1.032A8.661,8.661,0,0,1,21.338,2.58ZM22.647,8.7a7.432,7.432,0,1,0-2.177,5.255A7.385,7.385,0,0,0,22.647,8.7ZM7.383,18.638l.873-.874-2.1-2.1-.874.873ZM3.766,22.255l2.748-2.748-2.1-2.1L1.664,20.152a1.487,1.487,0,1,0,2.1,2.1Z" transform="translate(1701.658 102.581) rotate(-83)" fill="#fff"/><path d="M207.925,58.86a6,6,0,1,1-8.483,0A5.979,5.979,0,0,1,207.925,58.86Zm-.869,7.615a4.77,4.77,0,1,0-6.746,0A4.776,4.776,0,0,0,207.057,66.475Z" transform="translate(1624.697 283.017) rotate(-83)" fill="#fff"/></g></svg>
	.mobile.bottom-header-mobile
		.container
			.row.no-gutters
				.header-logo
					a(href="http://web1.web4gsolutions.com/SAIGONusa/")
						img.lazyload(data-src='./asset/image/logo.png', alt='')
				.mobile.header-toggle
					.hamburger
						span
						span
	.overlay.mobile