header
	.container
		.row.no-gutters
			.col-lg-12
				.top-header
					.left
						ul.social-media
							.item
								a(href="#") + facebook
							.item
								a(href="#") + instagram
							.item
								a(href="#") + google
					.right
						.phone + 0123 456 789
						.form-group
							select(name="")
								option(value="") VN
								option(value="") EL
			.col-lg-auto
				.logo
					a(href="index.html")
						img(class="svg" src="./assets/logo.svg", alt="", srcset="")
						img(class="svg" src="./assets/logo-white.svg", alt="", srcset="")
			.col-no-rel
				.bottom-header(aos="fade" aos-duration="500")
					.nav-list
						.nav-item
							a(href="gioi-thieu.html") TRANG CHỦ
						.nav-item
							a(href="gioi-thieu.html") GIỚI THIỆU
						.nav-item
							a(href="san-pham.html") CHƯƠNG TRÌNH HỌC
						.nav-item
							a(href="tin-tuc.html") GÓC HỌC VIÊN
						.nav-item
							a(href="tuyen-dung.html") TIN TỨC - SỰ KIỆN
						.nav-item
							a(href="lien-he.html") LIÊN HỆ
					.search
						.nav-item
							img(class="svg" src="./assets/images/icons/search.svg", alt="", srcset="")

