section.trial-learning
	.container
		h2.sect-title.center BẠN MUỐN ĐẶT CÂU HỎI
		.row.row-center
			.col-auto
				form
					.form-group
						input.form-control(type="text" placeholder="Họ và tên")
					.form-group
						input.form-control(type="text" placeholder="Email")
					.form-group
						input.form-control(type="text" placeholder="Số điện thoại")
					.form-group
						textarea(placeholder="Nội dung câu hỏi")
					.form-button
						button.btn.btn-readmore Gửi