section.trial-learning
	.container
		h2.sect-title.center ĐĂNG KÍ TƯ VẤN HỌC THỬ MIỄN PHÍ
		.row.row-center
			.col-auto
				form
					.form-group
						input.form-control(type="text" placeholder="Họ và tên (*)")
					.form-group
						input.form-control(type="text" placeholder="Email")
					.form-group
						input.form-control(type="text" placeholder="Số điện thoại (*)")
					.form-group
						select.form-control
							option(value="none") Chương trình quan tâm
							option(value="course_1") Chương trình 1
							option(value="course_2") Chương trình 2
							option(value="course_3") Chương trình 3
					.form-button
						button.btn.btn-readmore Gửi