section.differences-1.sect-pd
	.container
		h2.sect-title.center.tagline Sự khác biệt
		p.sect-description.center
			b ĐỘI NGŨ GIẢNG VIÊN
			span Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
		.differences-1-slider-wrapper
			.swiper-prev
				<svg xmlns="http://www.w3.org/2000/svg" width="37.651" height="27.775" viewBox="0 0 37.651 27.775"><g transform="translate(37.651 27.775) rotate(180)"><g transform="translate(0 0)"><g transform="translate(0 10.312)"><path d="M2.932,17.463,0,16.382C6.018-.128,20.368-.128,31.787.026h2.16V3.112h-2.16C20.214,3.112,8.178,2.958,2.932,17.463Z" transform="translate(0 0)" fill="#70ad3a"/></g><g transform="translate(23.609 0)"><path d="M2.16,23.761,0,21.6l9.721-9.72L0,2.16,2.16,0,14.042,11.881Z" transform="translate(0 0)" fill="#70ad3a"/></g></g></g></svg>
			.swiper-next
				<svg xmlns="http://www.w3.org/2000/svg" width="37.651" height="27.775" viewBox="0 0 37.651 27.775"><g transform="translate(0 0)"><g transform="translate(0 10.312)"><path d="M40.932,63.446,38,62.366c6.018-16.511,20.368-16.511,31.787-16.356h2.16V49.1h-2.16C58.214,49.1,46.178,48.941,40.932,63.446Z" transform="translate(-38 -45.983)" fill="#70ad3a"/></g><g transform="translate(23.609 0)"><path d="M55.46,63.063,53.3,60.9l9.721-9.721L53.3,41.46l2.16-2.16L67.342,51.182Z" transform="translate(-53.3 -39.3)" fill="#70ad3a"/></g></g></svg>
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.item
							.imgbox
								img(src="./asset/image/staff/s_1.jpg")
								.text-hover
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							.text
								h3 HARY POTTER
					.swiper-slide
						.item
							.imgbox
								img(src="./asset/image/staff/s_1.jpg")
								.text-hover
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							.text
								h3 HARY POTTER
					.swiper-slide
						.item
							.imgbox
								img(src="./asset/image/staff/s_1.jpg")
								.text-hover
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							.text
								h3 HARY POTTER
					.swiper-slide
						.item
							.imgbox
								img(src="./asset/image/staff/s_1.jpg")
								.text-hover
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							.text
								h3 HARY POTTER
					.swiper-slide
						.item
							.imgbox
								img(src="./asset/image/staff/s_1.jpg")
								.text-hover
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							.text
								h3 HARY POTTER
section.differences-2.sect-pd
	.container
		.row
			.col-lg-6
				h3 Bằng cấp
				h2 Uy tín
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
			.col-lg
			.col-lg-5
				.differences-2-slider-wrapper
					.swiper-pagination
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./asset/image/certificate/c_1.jpg", alt="")
							.swiper-slide
								img(src="./asset/image/certificate/c_1.jpg", alt="")
							.swiper-slide
								img(src="./asset/image/certificate/c_1.jpg", alt="")
section.differences-3
	.row.no-gutters
		.col-md-6.col-lg-6.col-no-1
			.img
				img.lazyload.ofcv(data-src='./asset/image/about/a_1.jpg', alt='')
		.col-md-6.col-lg-3.col-no-2
			.text
				h3 CHƯƠNG TRÌNH HỌC
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
		.col-lg.col-no-3
			.img
				img.lazyload.ofcv(data-src='./asset/image/about/a_1_sub.jpg', alt='')
	.row.no-gutters
		.col-md-6.col-lg-6.col-no-1
			.img
				img.lazyload.ofcv(data-src='./asset/image/about/a_2.jpg', alt='')
		.col-md-6.col-lg-3.col-no-2
			.text
				h3 PHƯƠNG PHÁP GIÁO DỤC HIỆN ĐẠI
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
		.col-lg.col-no-3
			.img
				img.lazyload.ofcv(data-src='./asset/image/about/a_2_sub.jpg', alt='')