.vision
	.container.vision-text
		h2.sect-title.center.tagline TẦM NHÌN - SỨ MỆNH
		.row.row-center
			.col-lg-auto.center
				.text
					p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
	.together-block
		.row.no-gutters
			.col-xl-6.col-lg-5
				img.ofcv.lazyload(data-src="./asset/image/vision.jpg", alt="")
			.col-xl-6.col-lg-7
				.text
					h4 Cùng SAIGON USA
					h3 Vun đắp hôm nay đón chào tương lai
					p
						strong Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.
					p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
	.container.vision-text
		h2.sect-title.center Cùng SAIGON USA
		.row.row-center
			.col-lg-auto.center
				.text
					p 
						b Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
					p industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recentl.