.contact-1.sect-pd
	.container
		.row.row-center
			.col-sect-title.center
				h2.sect-title.tagline ĐĂNG KÝ TƯ VẤN
				p.sect-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
		.row.row-center
			.col-lg-auto
				form.contact-form
					.row
						.form-group.col-md-6
							input(type='text' placeholder="Họ tên (*)")
						.form-group.col-md-6
							input(type='text' placeholder="Số điện thoại (*)")
						.form-group.col-md-6
							input(type='text' placeholder="Email")
						.form-group.col-md-6
							select
								option Khóa học
								option Khóa học
								option Khóa học
								option Khóa học
								option Khóa học
						.form-group.col-md-6
							select
								option Thành phố
								option Thành phố
								option Thành phố
								option Thành phố
								option Thành phố
						.form-group.col-md-6
							select
								option Trung tâm gần nhất
								option Trung tâm gần nhất
								option Trung tâm gần nhất
								option Trung tâm gần nhất
								option Trung tâm gần nhất
						.form-group.col-12
							p Bạn đang học tại SAIGON USA / từng học tại SAIGON USA?
							.form-check
								input#learned-1(type='radio' name="learned" checked)
								label(for='learned-1') chưa là học viên SAIGON USA
							.form-check
								input#learned-2(type='radio' name="learned")
								label(for='learned-2') đã từng là học viên SAIGON USA
						.form-button.col-12
							button.btn.btn-readmore Gửi