section.courses.courses-list
	.container
		h2.sect-title.center.tagline CHƯƠNG TRÌNH ĐÀO TẠO
		.list-items.row-custom.clearfix
			article.item
				a(href="course-1.html")
					.imgbox
						img.lazyload.ofcv(data-src='./asset/image/index_course_1.jpg', alt='')
					.text
						h3 Kindy Program
						p Aged: 3 – 6
			article.item
				a(href="course-2.html")
					.imgbox
						img.lazyload.ofcv(data-src='./asset/image/index_course_2.jpg', alt='')
					.text
						h3 Secondary Program
						p Aged: 12 – 15
			article.item
				a(href="course-3.html")
					.imgbox
						img.lazyload.ofcv(data-src='./asset/image/index_course_4.jpg', alt='')
					.text
						h3 Primary Program
						p Aged: 6 – 11
			article.item
				a(href="course-4.html")
					.imgbox
						img.lazyload.ofcv(data-src='./asset/image/index_course_3.jpg', alt='')
					.text
						h3 Higher Secondary/ Young Adult Program
						p Aged: 16 +