.course-image
	.block-content
		.row.row-center
			.col-lg-auto
				img.lazyload(data-src="./asset/image/course_feature.png", alt="")
.course-content
	.block-content
		.content
			h3 Supplementary
			p Fun English is a great app for kids to have fun and at the same time accumulate and reinforce their English vocabulary and structures. 
			p •  Created by education experts for young learners
			p •  Combines a clearly structured English course with fun and effective games 
			p •  Designed to enhance language retention and improve motor skills
			p •  Contains 300+ English words to be used in a wide variety of contexts and situations
			p •  Offers intuitive, child-friendly games - pick up and play!
			br
			br
			h3 Kindy Program Aged: 3 – 6
			.table-responsive
				table
					thead
						tr
							th Course
							th Course Materials
							th Cefr
							th Suggested Supplement Materials
					tbody
						tr
							td KINDY 1
							td Learn with Ollie 1
							td Pre A1
							td Fun English App Pack A 
						tr
							td KINDY 1
							td Learn with Ollie 1
							td Pre A1
							td Fun English App Pack A 
						tr
							td KINDY 1
							td Learn with Ollie 1
							td Pre A1
							td Fun English App Pack A 
						tr
							td KINDY 1
							td Learn with Ollie 1
							td Pre A1
							td Fun English App Pack A 
						tr
							td KINDY 1
							td Learn with Ollie 1
							td Pre A1
							td Fun English App Pack A 
						tr
							td KINDY 1
							td Learn with Ollie 1
							td Pre A1
							td Fun English App Pack A 