.gallery-2.sect-pd
	.container
		h2.center.tagline.sect-title VIDEO
		.row.gallery-video-list
			-for(let i =1;i<10;i++)
				article.col-6.col-lg-4
					a.gallery-item(href="https://www.youtube.com/watch?v=gDi4tuaX36s" data-fancybox="gallery-video-"+i)
						.img
							img.lazyload(data-src="./asset/image/gallery/g_"+i+".jpg", alt="")
							.btn-play
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="177" height="177" viewBox="0 0 177 177"><defs><filter id="a" x="4" y="7" width="169" height="169" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="3" result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs><g transform="translate(0.031 0.029)"><circle cx="88.5" cy="88.5" r="88.5" transform="translate(-0.031 -0.029)" fill="#f7f9f9" opacity="0.2"/><g transform="matrix(1, 0, 0, 1, -0.03, -0.03)" filter="url(#a)"><circle cx="75.5" cy="75.5" r="75.5" transform="translate(13 13)" fill="#f7f9f9" opacity="0.8"/></g><g transform="translate(71.527 62.514)"><g transform="translate(0 0)"><path d="M51.907,26.424,20.028,7.688A8.647,8.647,0,0,0,7,15.154v37.47a8.647,8.647,0,0,0,4.352,7.523A8.877,8.877,0,0,0,15.647,61.3a8.647,8.647,0,0,0,4.381-1.211L51.907,41.354a8.647,8.647,0,0,0,0-14.93Zm-2.882,9.944L17.319,55.132a2.882,2.882,0,0,1-4.554-2.508V15.154a2.882,2.882,0,0,1,1.441-2.508,3.113,3.113,0,0,1,1.441-.4,2.882,2.882,0,0,1,1.441.4L48.794,31.41a2.882,2.882,0,0,1,0,4.958Z" transform="translate(-7 -6.496)" fill="#ffa217"/></g></g></g></svg>
						.text
							h3 Những hoạt động ngoại khóa thú vị giúp trẻ em khám phá thế giới muôn màu đầy bổ ích
		.row
			.col-12
				+pagination