section.recruitment-1.sect-pd
	.container
		.row.row-center
			.col-sect-title.center
				h2.sect-title.tagline GIỚI THIỆU VỀ VĂN HÓA
				p.sect-description
					b Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
				br
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				br
				br
				a(href="https://www.youtube.com/watch?v=wbOcKInn1kM" data-fancybox)
					img.lazyload(data-src="./asset/image/recruitment.jpg", alt="")
					.btn-play
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="177" height="177" viewBox="0 0 177 177"><defs><filter id="a" x="4" y="7" width="169" height="169" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="3" result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs><g transform="translate(0.031 0.029)"><circle cx="88.5" cy="88.5" r="88.5" transform="translate(-0.031 -0.029)" fill="#f7f9f9" opacity="0.2"/><g transform="matrix(1, 0, 0, 1, -0.03, -0.03)" filter="url(#a)"><circle cx="75.5" cy="75.5" r="75.5" transform="translate(13 13)" fill="#f7f9f9" opacity="0.8"/></g><g transform="translate(71.527 62.514)"><g transform="translate(0 0)"><path d="M51.907,26.424,20.028,7.688A8.647,8.647,0,0,0,7,15.154v37.47a8.647,8.647,0,0,0,4.352,7.523A8.877,8.877,0,0,0,15.647,61.3a8.647,8.647,0,0,0,4.381-1.211L51.907,41.354a8.647,8.647,0,0,0,0-14.93Zm-2.882,9.944L17.319,55.132a2.882,2.882,0,0,1-4.554-2.508V15.154a2.882,2.882,0,0,1,1.441-2.508,3.113,3.113,0,0,1,1.441-.4,2.882,2.882,0,0,1,1.441.4L48.794,31.41a2.882,2.882,0,0,1,0,4.958Z" transform="translate(-7 -6.496)" fill="#ffa217"/></g></g></g></svg>
section.recruitment-2
	.container
		h2.sect-title.tagline.center TUYỂN DỤNG
		.row.recruitment-list
			-for(let i =1;i<3;i++)
				article.col-md-6
					.news-item
						a(href="recruitment-dt.html")
							.imgbox
								img.lazyload(src="./asset/image/news/n_"+i+".jpg", alt="")
							.text
								time 24.02.2019
								h3 GIÁO DỤC NỮ GIỚI - CHÌA KHÓA CHO SỰ PHÁT TRIỂN BỀN VỮNG
								p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...
								.img-readmore
									<svg xmlns="http://www.w3.org/2000/svg" width="29.135" height="29.135" viewBox="0 0 29.135 29.135"><g transform="translate(-2262 -3237)"><path d="M29.135,1.147,29.1,1.126A7.033,7.033,0,0,0,25.627,0a7.033,7.033,0,0,0-3.469,1.125,5.486,5.486,0,0,1-2.679.924A5.489,5.489,0,0,1,16.8,1.126,7.031,7.031,0,0,0,13.331,0,7.032,7.032,0,0,0,9.862,1.126a5.49,5.49,0,0,1-2.678.924,5.488,5.488,0,0,1-2.679-.924A7.038,7.038,0,0,0,1.036,0,5.007,5.007,0,0,0,0,.109v1.7a3.511,3.511,0,0,1,1.036-.159,5.488,5.488,0,0,1,2.679.924A7.036,7.036,0,0,0,7.184,3.7a7.037,7.037,0,0,0,3.469-1.126,5.485,5.485,0,0,1,2.679-.924,5.487,5.487,0,0,1,2.678.923A7.036,7.036,0,0,0,19.479,3.7a7.036,7.036,0,0,0,3.469-1.126,5.488,5.488,0,0,1,2.679-.924,5.484,5.484,0,0,1,2.679.924c.265.145.541.295.83.437Z" transform="translate(2278.17 3237) rotate(90)" fill="#ffa217"/><path d="M919.162,476.541l-.039-.021a5.909,5.909,0,0,0-6.938,0,4.346,4.346,0,0,1-5.357,0,5.909,5.909,0,0,0-6.938,0,4.345,4.345,0,0,1-5.357,0,7.038,7.038,0,0,0-3.469-1.126,5.009,5.009,0,0,0-1.036.109v1.7a3.509,3.509,0,0,1,1.036-.159,5.488,5.488,0,0,1,2.679.924,5.908,5.908,0,0,0,6.938,0,4.346,4.346,0,0,1,5.357,0,5.909,5.909,0,0,0,6.939,0,4.346,4.346,0,0,1,5.357,0c.265.145.541.295.83.437Z" transform="translate(1371.973 2774.622)" fill="#ffa217"/></g></svg>
			-for(let i =1;i<3;i++)
				article.col-md-6
					.news-item
						a(href="recruitment-dt.html")
							.imgbox
								img.lazyload(src="./asset/image/news/n_"+i+".jpg", alt="")
							.text
								time 24.02.2019
								h3 GIÁO DỤC NỮ GIỚI - CHÌA KHÓA CHO SỰ PHÁT TRIỂN BỀN VỮNG
								p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...
								.img-readmore
									<svg xmlns="http://www.w3.org/2000/svg" width="29.135" height="29.135" viewBox="0 0 29.135 29.135"><g transform="translate(-2262 -3237)"><path d="M29.135,1.147,29.1,1.126A7.033,7.033,0,0,0,25.627,0a7.033,7.033,0,0,0-3.469,1.125,5.486,5.486,0,0,1-2.679.924A5.489,5.489,0,0,1,16.8,1.126,7.031,7.031,0,0,0,13.331,0,7.032,7.032,0,0,0,9.862,1.126a5.49,5.49,0,0,1-2.678.924,5.488,5.488,0,0,1-2.679-.924A7.038,7.038,0,0,0,1.036,0,5.007,5.007,0,0,0,0,.109v1.7a3.511,3.511,0,0,1,1.036-.159,5.488,5.488,0,0,1,2.679.924A7.036,7.036,0,0,0,7.184,3.7a7.037,7.037,0,0,0,3.469-1.126,5.485,5.485,0,0,1,2.679-.924,5.487,5.487,0,0,1,2.678.923A7.036,7.036,0,0,0,19.479,3.7a7.036,7.036,0,0,0,3.469-1.126,5.488,5.488,0,0,1,2.679-.924,5.484,5.484,0,0,1,2.679.924c.265.145.541.295.83.437Z" transform="translate(2278.17 3237) rotate(90)" fill="#ffa217"/><path d="M919.162,476.541l-.039-.021a5.909,5.909,0,0,0-6.938,0,4.346,4.346,0,0,1-5.357,0,5.909,5.909,0,0,0-6.938,0,4.345,4.345,0,0,1-5.357,0,7.038,7.038,0,0,0-3.469-1.126,5.009,5.009,0,0,0-1.036.109v1.7a3.509,3.509,0,0,1,1.036-.159,5.488,5.488,0,0,1,2.679.924,5.908,5.908,0,0,0,6.938,0,4.346,4.346,0,0,1,5.357,0,5.909,5.909,0,0,0,6.939,0,4.346,4.346,0,0,1,5.357,0c.265.145.541.295.83.437Z" transform="translate(1371.973 2774.622)" fill="#ffa217"/></g></svg>
			-for(let i =1;i<3;i++)
				article.col-md-6
					.news-item
						a(href="recruitment-dt.html")
							.imgbox
								img.lazyload(src="./asset/image/news/n_"+i+".jpg", alt="")
							.text
								time 24.02.2019
								h3 GIÁO DỤC NỮ GIỚI - CHÌA KHÓA CHO SỰ PHÁT TRIỂN BỀN VỮNG
								p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text...
								.img-readmore
									<svg xmlns="http://www.w3.org/2000/svg" width="29.135" height="29.135" viewBox="0 0 29.135 29.135"><g transform="translate(-2262 -3237)"><path d="M29.135,1.147,29.1,1.126A7.033,7.033,0,0,0,25.627,0a7.033,7.033,0,0,0-3.469,1.125,5.486,5.486,0,0,1-2.679.924A5.489,5.489,0,0,1,16.8,1.126,7.031,7.031,0,0,0,13.331,0,7.032,7.032,0,0,0,9.862,1.126a5.49,5.49,0,0,1-2.678.924,5.488,5.488,0,0,1-2.679-.924A7.038,7.038,0,0,0,1.036,0,5.007,5.007,0,0,0,0,.109v1.7a3.511,3.511,0,0,1,1.036-.159,5.488,5.488,0,0,1,2.679.924A7.036,7.036,0,0,0,7.184,3.7a7.037,7.037,0,0,0,3.469-1.126,5.485,5.485,0,0,1,2.679-.924,5.487,5.487,0,0,1,2.678.923A7.036,7.036,0,0,0,19.479,3.7a7.036,7.036,0,0,0,3.469-1.126,5.488,5.488,0,0,1,2.679-.924,5.484,5.484,0,0,1,2.679.924c.265.145.541.295.83.437Z" transform="translate(2278.17 3237) rotate(90)" fill="#ffa217"/><path d="M919.162,476.541l-.039-.021a5.909,5.909,0,0,0-6.938,0,4.346,4.346,0,0,1-5.357,0,5.909,5.909,0,0,0-6.938,0,4.345,4.345,0,0,1-5.357,0,7.038,7.038,0,0,0-3.469-1.126,5.009,5.009,0,0,0-1.036.109v1.7a3.509,3.509,0,0,1,1.036-.159,5.488,5.488,0,0,1,2.679.924,5.908,5.908,0,0,0,6.938,0,4.346,4.346,0,0,1,5.357,0,5.909,5.909,0,0,0,6.939,0,4.346,4.346,0,0,1,5.357,0c.265.145.541.295.83.437Z" transform="translate(1371.973 2774.622)" fill="#ffa217"/></g></svg>

		.row
			.col-12
				+pagination