.contact-1 {
	background: #F5F5F5;

	.contact-form {
		max-width: 890px;
	}

	.col-sect-title {
		margin-bottom: 40px;
	}

	.form-group {
		margin-bottom: 15px;

		input[type='text'],
		select {
			height: 55px;
			box-shadow: 0 3px 6px #E5E5E5;
			width: 100%;
			border: 0;
			padding: 7px 25px;
			border-radius: 50px;
			color: darken(white, 45%);
			font-size: 16px;
			font-weight: 300;

			&::placeholder {
				color: darken(white, 45%);
				font-size: 16px;
			}
		}

		select {
			background-image: url('../asset/image/arrow-down-2.png');
			background-size: 26px 10px;
			background-position: 97% 50%;
			background-repeat: no-repeat;
			appearance: none;
			color: darken(white, 45%);
		}

		&.col-12 {
			margin-top: 30px;

			p {
				font-size: 16px;
				margin-bottom: 10px;
			}

			@media (max-width: 1199.98px) {
				margin-top: 20px;
			}

			@media (max-width: 767.98px) {
				margin-top: 10px;
			}
		}
	}

	.form-check {
		display: inline-block;
		width: 33.3333%;

		label {
			padding-left: 35px;
			position: relative;
			font-size: 14px;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				width: 21px;
				height: 21px;
				background: white;
				border: 4px solid white;
				border-radius: 5px;
				left: 0;
				top: 1px;
			}
		}

		input {
			display: none;

			&:checked~label {
				&:before {
					background: map-get($mau, main);
				}
			}
		}

		@media (max-width: 767.98px) {
			width: 100%;
		}
	}

	.form-button {
		text-align: center;
		margin-top: 45px;

		.btn {
			height: 55px;
			max-width: 435px;
			width: 100%;
			border-radius: 30px;
		}

		@media (max-width: 1199.98px) {
			margin-top: 30px;
		}

		@media (max-width: 767.98px) {
			margin-top: 15px;
		}
	}
}

.contact-map {
	#map {
		height: 1000px;

		iframe {
			width: 100%;
			height: 100%;
		}

		@media (max-width: 1199.98px) {
			height: 700px;
		}

		@media (max-width: 1024px) {
			height: 500px;
		}

		@media (max-width: 767.98px) {
			height: 300px;
		}
	}
}

.contact-info {
	.row.row-center {
		.row {
			justify-content: space-between;
		}
	}

	.col-item {
		flex: 0 0 250px;
		max-width: 250px;
		padding-top: 45px;
		padding-bottom: 45px;

		.title {
			display: flex;
			align-items: center;
			margin-bottom: 12px;

			svg {
				margin-right: 15px;
			}
		}

		h3 {
			font-size: 24px;
			font-weight: 300;

			@media (max-width: 1199.98px) {
				font-size: 21px;
			}

			@media (max-width: 767.98px) {
				font-size: 18px;
			}
		}

		p {
			font-size: 18px;
		}
	}

	@media (max-width: 1024px) {
		display: none;
	}
}