.courses-list {
  padding-top: 90px;

  @media (max-width: 1199.98px) {
    padding-top: 60px;
  }

  @media (max-width: 767.98px) {
    padding-top: 30px;
  }
}

.courses {
  padding-bottom: 90px;

  .list-items {
    margin: 0 -5px;
  }

  .item {
    padding: 0 5px;
    max-width: 33.333%;
    float: left;
    width: 100%;

    .imgbox {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      background: transparent;

      img {
        width: 100%;
        transition: all 0.3s ease-out;
      }

      .button-wrapper {
        .btn-register {
          background-color: map-get($mau, cam);
          color: white;
          margin-bottom: 10px;
        }

        .btn-view {
          background-color: map-get($mau, main);
          color: white;
        }
      }

      @media (min-width: 1025px) {
        background: black;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          top: 15px;
          bottom: 15px;
          left: 15px;
          right: 15px;
          border: 1px dashed map-get($mau, main);
          border-radius: 5px;
          opacity: 0;
          transition: all 0.3s ease-out;
        }

        .button-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: all 0.4s ease-in-out;

          .btn {
            width: 185px;
          }
        }
      }

      @media (max-width: 1024px) {
        .button-wrapper {
          .btn {
            height: 35px;
            width: 50%;
            border-radius: 0;
            padding: 0 10px;
          }
        }
      }

      @media (max-width: 767.98px) {
        .button-wrapper {
          .btn {
            width: 100%;
            height: 30px;
          }

          .btn-register {
            margin-bottom: 0;
          }
        }
      }
    }

    .text {
      padding-top: 20px;
      height: 128px;

      h3 {
        font-size: 24px;
        color: map-get($mau, main);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 72px;
        text-transform: uppercase;
      }

      p {
        font-size: 24px;
        text-transform: uppercase;
        color: #5d5d5d;
      }
    }

    &:nth-child(1),
    &:nth-child(3) {
      .imgbox {
        height: 843px;
      }
    }

    &:nth-child(4) {
      .imgbox {
        height: 357px;
      }
    }

    &:nth-child(3),
    &:nth-child(6) {
      float: right;
    }
    &:nth-child(5),
    &:nth-child(6) {
      max-width: 50%;
      .imgbox {
        height: 450px;
      }
    }

    &:hover {
      .imgbox {
        &:before {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }

        .button-wrapper {
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: 1659.98px) {
    .item {
      &:nth-child(1),
      &:nth-child(3) {
        .imgbox {
          height: 730px;
        }
      }

      &:nth-child(4) {
        .imgbox {
          height: 301px;
        }
      }
	  &:nth-child(5),
	  &:nth-child(6) {
		.imgbox {
		  height: 380px;
		}
	  }
    }
  }

  @media (max-width: 1439.98px) {
    .item {
      &:nth-child(1),
      &:nth-child(3) {
        .imgbox {
          width: 100%;
          height: 630px;
        }
      }

      &:nth-child(4) {
        .imgbox {
          height: 251px;
        }
      }
	  &:nth-child(5),
	  &:nth-child(6) {
		.imgbox {
		  height: 330px;
		}
	  }
    }
  }

  @media (max-width: 1199.98px) {
    padding-bottom: 60px;

    .item {
      &:nth-child(1),&:nth-child(3) {
        .imgbox {
          width: 100%;
          height: 548px;
        }
      }

      &:nth-child(4) {
        .imgbox {
          height: 217px;
        }
      }
	  &:nth-child(5),
	  &:nth-child(6) {
		.imgbox {
		  height: 280px;
		}
	  }

      .text {
        height: 115px;
        padding-top: 15px;

        h3,
        p {
          font-size: 21px;
          max-height: 61px;
          font-weight: 500;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    padding-top: 60px;

    .item {
      max-width: 50%;

      &:nth-child(2n + 1) {
        .imgbox {
          height: auto;
        }
      }

      &:nth-child(2n) {
        .imgbox {
          height: auto;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;

    .item {
      .text {
        padding-top: 10px;
        height: 95px;

        h3,
        p {
          text-transform: capitalize;
          font-size: 18px;
          max-height: 54px;
        }
      }
    }
  }
}

.course-popup {
  overflow: visible;
  width: 100%;
  max-width: 550px;
  border-radius: 10px;
  padding: 44px 75px;

  .fancybox-close-small {
    top: -44px;
    background: black;
    padding: 5px;
    opacity: 1;

    svg {
      path {
        fill: white;
      }
    }
  }

  .sect-title {
    font-size: 28px;
    margin-bottom: 60px;
    text-transform: uppercase;

    @media (max-width: 1359.98px) {
      font-size: 25px;
    }

    @media (max-width: 1024px) {
      font-size: 22px;
    }

    @media (max-width: 767.98px) {
      font-size: 18px;
    }
  }

  .form-group {
    margin-bottom: 15px;

    input[type="text"],
    select {
      height: 45px;
      box-shadow: 0 3px 6px #e5e5e5;
      width: 100%;
      border: 0;
      padding: 7px 25px;
      border-radius: 50px;
      color: darken(white, 45%);
      font-size: 15px;
      font-weight: 300;

      &::placeholder {
        color: darken(white, 45%);
        font-size: 15px;
      }
    }

    select {
      background-image: url("../asset/image/arrow-down-2.png");
      background-size: 26px 10px;
      background-position: 97% 50%;
      background-repeat: no-repeat;
      appearance: none;
      color: darken(white, 45%);
      font-size: 15px;
    }
  }

  .form-button {
    .btn-register {
      height: 45px;
      width: 100%;
      border: 0;
      border-radius: 50px;
      background: map-get($mau, cam);
      color: white;
      font-size: 15px;
    }
  }

  @media (max-width: 1024px) {
    padding: 25px 15px;
  }
}
