section.news.sect-pd
	.container
		h2.sect-title.center.tagline TIN TỨC - SỰ KIỆN
		.row.news-list
			.col-12
				+news2(1)
			.col-12
				+news2(2)
			.col-12
				+news2(1)
			.col-12
				+news2(2)
			.col-12
				+news2(1)
			.col-12
				+news2(2) 
		.row
			.col-12
				+pagination