.container
	.news-navigation
		.news-navigation-item.active
			a(href="policy-1.html") Chính sách bảo mật
		.news-navigation-item
			a(href="policy-2.html") Điều khoản sử dụng
		.news-navigation-item
			a(href="policy-3.html") Chính sách liên kết