mixin pagination
	ul.pagination
		li.pagination-prev
			a(href="#")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.395" height="10.477" viewBox="0 0 5.395 10.477"><path d="M4.091,0,0,4.532,4.189,9.064" transform="translate(0.5 0.706)" fill="rgba(0,0,0,0)" stroke="#888" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></svg>
		li
			a(href="#") 1
		li.active
			a(href="#") 2
		li
			a(href="#") 3
		li
			a(href="#") 4
		li.pagination-dot
			a(href="#") ...
		li
			a(href="#") 98
		li.pagination-next
			a(href="#")
				<svg xmlns="http://www.w3.org/2000/svg" width="5.395" height="10.477" viewBox="0 0 5.395 10.477"><path d="M4.091,0,0,4.532,4.189,9.064" transform="translate(0.5 0.706)" fill="rgba(0,0,0,0)" stroke="#888" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/></svg>