extends _components/_layout/_layout.pug

block var
	- let title = 'Sự khác biệt'
	- let bodyClass = 'news-page'

block banner,breadcrumb
block main
	+banner("./asset/image/banner/differences.jpg", title)
	include _components/about/a-1
	include _components/_layout/_trial-learning
block scripts