extends _components/_layout/_layout.pug

block var
	- let title = 'Video'
	- let bodyClass = 'news-page'

block banner,breadcrumb
block main
	+banner("./asset/image/banner/news.jpg", title)
	include _components/gallery/g-2
	include _components/_layout/_trial-learning
block scripts