extends _components/_layout/_layout

block var
	- var title = 'SÀI GÒN USA | Trang Chủ'

block main
	include _components/index/banner
	include _components/index/i-1
	include _components/index/i-2
	include _components/index/i-3
	include _components/index/i-4
	include _components/index/i-5