extends _components/_layout/_layout.pug

block var
	- let title = 'Index'
	- let bodyClass = 'index-page'

block banner,breadcrumb
block main
	include _components/index/banner
	include _components/index/i-1
	include _components/index/i-2
	include _components/index/i-3
	include _components/index/i-4
	include _components/index/i-5
	include _components/_layout/_trial-learning
	.d-none
		#courses.course-popup
			h2.sect-title.center.tagline Đăng ký khóa học
			form
				.form-group
					input(type="text", name="Fullname" placeholder="Họ tên(*)")
				.form-group
					input(type="text", name="Phone" placeholder="Số điện thoại(*)")
				.form-group
					input(type="text", name="Email" placeholder="Email")
				.form-group.form-select
					select
						option(value='default') -- Chọn khóa học --
						option(value=1) Kindy Program
						option(value=2) Secondary Program
						option(value=3) Primary Program
						option(value=4) Higher Secondary/ Young Adult Program
				.form-button
					button.btn.btn-register Đăng ký
block scripts