extends _components/_layout/_layout.pug

block var
	- let title = 'Điều khoản sử dụng'
	- let bodyClass = 'policy-page'

block banner,breadcrumb
block main
	+banner("./asset/image/banner/policy.jpg", "Chính sách quy định")
	include _components/policy/p-1
block scripts