extends _components/_layout/_layout.pug

block var
	- let title = 'Chính sách liên kết'
	- let bodyClass = 'policy-page'

block banner,breadcrumb
block main
	+banner("./asset/image/banner/policy.jpg", "Chính sách quy định")
	include _components/policy/p-1
	include _components/_layout/_trial-learning
block scripts