extends _components/_layout/_layout.pug

block var
	- let title = 'Góc học viên'
	- let bodyClass = 'student-page'

block banner,breadcrumb
block main
	+banner("./asset/image/banner/news.jpg", title)
	include _components/student/s-1
block scripts