section.form-register
	.block-form
		h3 ĐĂNG KÍ TƯ VẤN HỌC THỬ MIỄN PHÍ
		form(action="#" method="method")
			.form-group
				input(type="text" placeholder="Họ Tên")
			.form-group
				input(type="text" placeholder="Email")
			.form-group
				input(type="text" placeholder="Số điện thoại")
			.form-group.select
				select(name="")
					option(value="0") Chương trình quan tâm
					option(value="1") Option 1
					option(value="1") Option 2
					option(value="1") Option 3
					option(value="1") Option 4
					option(value="1") Option 5
					option(value="1") Option 6
			.form-group
				button.btn GỬI