section.home-banner
	.swiper-container
		.swiper-wrapper
			-for(i=1;i<4;i++)
				.swiper-slide
					figure
						img.ofc(src="./assets/images/banner/home-banner-1.png", alt="")
						figcaption
							h5 Cùng SAIGON USA
							h3 Vun đắp hôm nay
								br
								| đón chào tương lai
							a(href="#").btn Tìm hiểu thêm
		.swiper-pagination
		.swiper-button-prev
		.swiper-button-next