section.index-1
	.container
		h3.wow.fadeInLeft(data-wow-delay=".2s") Welcome to 
			span.wow.fadeIn(data-wow-delay="1s") SAIGON USA
		p.wow.fadeInDown(data-wow-delay=".2s") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		.box-item
			.item.wow.fadeInDown(data-wow-delay=".5s")
				figure
					.box-img
						img(class="svg" src="./assets/images/icons/uy-tin.svg", alt="")
						h5 UY TÍN
					figcaption
						span Integer vitae blandit ultricie aliquam. Pellentesque quis dui varius.
			.item.wow.fadeInDown(data-wow-delay=".5s")
				figure
					.box-img
						img(class="svg" src="./assets/images/icons/trach-nhiem.svg", alt="")
						h5 TRÁCH NHIỆM
					figcaption
						span Integer vitae blandit ultricie aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum.

			.item.wow.fadeInDown(data-wow-delay=".5s")
				figure
					.box-img
						img(class="svg" src="./assets/images/icons/tan-tam.svg", alt="")
						h5 TẬM TÂM
					figcaption
						span Integer vitae blandit ultricie aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum, iaculis ipsum.
