section.index-2
	.container
		.row
			.content.wow.fadeInDown(data-wow-delay=".2s")
				img(src="./assets/images/logoCambridge.svg", alt="", srcset="")
				h3 CHỨNG CHỈ CAMBRIDGE
				p Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit. Aenean Commodo Ligula Eget Dolor. Aenean Massa. Cum Sociis Natoque Penatibus Et Magnis Dis Parturient Montes, Nascetur Ridiculus Mus.
			.img-item-banner
				img.ofc.wow.bounceInUp(src="./assets/images/banner/item-banner-index-2.png", alt="", srcset="", data-wow-delay=".2s")