section.index-2
	.container
		.row.row-center
			.col-xxl-8.col-xl-10
				.imgbox
					img(src="./asset/image/cambridge_university.png", alt="")
				.description
					h2 Chứng chỉ Cambridge
					p Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit. Aenean Commodo Ligula Eget Dolor. Aenean Massa. Cum Sociis Natoque Penatibus Et Magnis Dis Parturient Montes, Nascetur Ridiculus Mus. 
		.row.row-center.row-img
			.col-xxl-11.col-img
				img(src="./asset/image/index_1.png", alt="")