section.index-2
	.container
		.row.row-center
			.col-xxl-8.col-xl-10
				.imgbox.wow.fadeInUp
					img.lazyload(data-src="./asset/image/cambridge_university.png", alt="")
				.description.wow.fadeInUp(data-wow-delay="150")
					h2 Chứng chỉ Cambridge
					p Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit. Aenean Commodo Ligula Eget Dolor. Aenean Massa. Cum Sociis Natoque Penatibus Et Magnis Dis Parturient Montes, Nascetur Ridiculus Mus. 
		.row.row-center.row-img
			.col-xxl-11.col-img.wow.fadeInUp(data-wow-delay="150")
				img.lazyload(data-src="./asset/image/index_1.png", alt="")