section.index-3.courses
	.container
		h2.sect-title.center.tagline CHƯƠNG TRÌNH ĐÀO TẠO
		.list-items.row-custom.clearfix
			article.item.wow.zoomIn(data-wow-delay="200")
				a(href="couse-1.html")
					.imgbox
						img.ofcv(src='./asset/image/index_course_1.jpg', alt='')
					.text
						h3 Kindy Program
						p Aged: 3 – 6
			article.item.wow.zoomIn(data-wow-delay="200")
				a(href="couse-2.html")
					.imgbox
						img.ofcv(src='./asset/image/index_course_2.jpg', alt='')
					.text
						h3 Secondary Program
						p Aged: 12 – 15
			article.item.wow.zoomIn(data-wow-delay="200")
				a(href="couse-3.html")
					.imgbox
						img.ofcv(src='./asset/image/index_course_4.jpg', alt='')
					.text
						h3 Primary Program
						p Aged: 6 – 11
			article.item.wow.zoomIn(data-wow-delay="200")
				a(href="couse-4.html")
					.imgbox
						img.ofcv(src='./asset/image/index_course_3.jpg', alt='')
					.text
						h3 Higher Secondary/ Young Adult Program
						p Aged: 16 +