section.index-3
	.container
		.title.wow.flipInX(data-wow-delay=".2s") Chương trình Đào Tạo
		.row.list-item-index-3
			.col-lg-4
				figure.big
					a(href="#")
						.box-img
							img.ofc(src="./assets/images/index-3/item-1.png", alt="")
						figcaption
							h5.limit-line KINDY PROGRAM
							p Aged: 3 – 6
			.col-lg-4
				.row.no-gutters
					.col-lg-12
						figure.small
							a(href="#")
								.box-img
									img.ofc(src="./assets/images/index-3/item-2.png", alt="")
								figcaption
									h5.limit-line SECONDARY PROGRAM
									p Aged: 12 – 15
					.col-lg-12
						figure.small
							a(href="#")
								.box-img
									img.ofc(src="./assets/images/index-3/item-3.png", alt="")
								figcaption
									h5.limit-line HIGHER SECONDARY/ YOUNG ADULT PROGRAM
									p Aged: 16 +
			.col-lg-4
				figure.big
					a(href="#")
						.box-img
							img.ofc(src="./assets/images/index-3/item-4.png", alt="")
						figcaption
							h5.limit-line PRIMARY PROGRAM
							p Aged: 6 – 11
		a(href="#").btn XEM THÊM
