section.index-4
	.container
		.row
			.col-lg-6
				.title-index-4
					span.wow.fadeInLeft(data-wow-delay=".2s") Để chúng tôi giúp bạn
					h2.wow.fadeInLeft(data-wow-delay=".4s") tự tin giao tiếp
					img.wow.bounceInLeft(src="./assets/images/banner/item-banner-index-4.png", alt="", srcset="", data-wow-delay=".2s")
			.col-lg-6
				ul.list-item
					li.item.wow.fadeInDown(data-wow-delay=".2s")
						h3 Chương trình GIAO TIẾP CHUẨN QUỐC TẾ
						p Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
					li.item.wow.fadeInDown(data-wow-delay=".4s")
						h3 Giáo viên chuyên môn cao, giàu kinh nghiệm
						p Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis, pharetra
					li.item.wow.fadeInDown(data-wow-delay=".6s")
						h3 CƠ SỞ VẬT CHẤT VÀ MÔI TRƯỜNG HỌC TẬP HIỆN ĐẠI
						p Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed eleifend massa. Nullam sed eleifend massa.
					a.btn.wow.fadeInDown(href="#" data-wow-delay=".8s") ĐĂNG KÝ NGAY