section.index-4
	.container
		.row
			.col-lg-6.col-left.wow.slideInLeft
				.sect-title-2
					p Để chúng tôi giúp bạn
					h2 tự tin giao tiếp
				.sect-img
					img(src="./asset/image/index_2.png", alt="")
			.col-lg-6.col-right
				.content
					article.sect-item.wow.slideInRight(data-wow-delay="190")
						h3 Chương trình GIAO TIẾP CHUẨN QUỐC TẾ
						p Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
					article.sect-item.wow.slideInRight(data-wow-delay="250")
						h3 Chương trình GIAO TIẾP CHUẨN QUỐC TẾ
						p Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
					article.sect-item.wow.slideInRight(data-wow-delay="190")
						h3 Chương trình GIAO TIẾP CHUẨN QUỐC TẾ
						p Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
					.button-wrapper
						a.btn.btn-readmore(href="#" data-src="#courses" data-fancybox="courses") Đăng ký ngay