section.index-5
	.container
		.title.wow.flipInX(data-wow-delay=".2s") TIN TỨC
		.row
			.col-lg-6
				a(href="#")
					.item-news
						.box-img
							img.ofc(src="./assets/images/news/h-news-1.png", alt="")
						.content
							.date 24.02.2019
							.desc
								p GIÁO DỤC NỮ GIỚI - CHÌA KHÓA CHO SỰ PHÁT TRIỂN BỀN VỮNG
			.col-lg-6
				a(href="#")
					.item-news
						.box-img
							img.ofc(src="./assets/images/news/h-news-2.png", alt="")
						.content
							.date 24.02.2019
							.desc
								p GIÁO DỤC NỮ GIỚI - CHÌA KHÓA CHO SỰ PHÁT TRIỂN BỀN VỮNG